@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
}

#redes_sociais {
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: skyblue;
}

.img_redes {
    width: 35px;
    height: 35px;
    padding: 5px;
}

#painel_nav {
    display: flex;
    align-items: center;
    height: 500px;
    background-image: url(imagens/Wallpaper\ -\ 1400x900.png);
    background-size: auto;
}

#logo {
    width: 100px;
}