@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

#redes_sociais {
    background-color: skyblue;
    box-shadow: 0px 2px 9px rgb(0, 0, 0);
}

#link_redes {
    max-width: 1200px;
    margin: auto;
}

.img_redes {
    width: 35px;
    height: 35px;
    padding: 5px;
}

#painel_nav {
    width: auto;
    height: 500px;
    background-image: url(imagens/dog_dog.jpg);
    background-size: 500px;
    background-repeat: repeat;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.445);
}

#nav_click {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
}

.nav_item {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
    color: white;
    margin: 0px 0px 0px 15px;
}

#logo {
    width: 80px;
    padding: 15px 700px 0px 0px;
}